button
{
    cursor: pointer;
}

.rps-container
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.buttons-container
{
    display: flex;
    gap: 20px;
}

.choices
{
    font-size: 40px;
}

.chosen
{
    font-weight: bold;
}